<body>

 <section id="newEntryContainer">
            {{#each entries as |entry|}}
            <section id={{entry.id}}>
                  <button id="deleteBtn-{{entry.id}}">delete</button>
                  <button id="editBtn-{{entry.id}}">edit</button>
            </section>
            <section >
                  <h2>{{entry.title}}</h2>
                  <p>{{entry.mood}}</p>
                  {{#each entry.habits as |habit|}}
                  <p>{{habit.habit_name}}</p>
                  {{/each}}
                  <p>{{entry.description}}</p>
            </section>
            {{/each}}
      </section>


<!-- Modal Structure -->
    <div id="entryModal" class="modal"></div>
        <!-- Modal content -->
        <div class="modal-content">
    <span class="close-btn" onclick="closeModal()">&times;</span>
    <h2 id="modalTitle"></h2>
    <p id="modalMood"></p>
    <h3>Habits:</h3>
    <ul id="modalHabits"></ul>
    <p id="modalEntryText"></p>
    <button id="submitBtn" onclick="saveEdits()">Submit</button>
  </div>
</div>



          
     
      
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      <script src="/js/dashboard.js"></script>
</body>