<body>
    <section id="newEntryContainer">
        <section id="entryContainer">
            {{#if entries.[0].title}}
                {{{renderLastEntry entries}}}
            {{/if}}
        </section>
    </section>
    <section id="pastEntriesContainer">
        {{#each entries as |entry|}}
            <section id="{{entry.id}}">
                <section>
                    <h2>{{entry.title}}</h2>
                    <p>{{entry.mood}}</p>
                    <ul>
                        {{#each entry.habits as |habit|}}
                            <li>{{habit.habit_name}}</li>
                        {{/each}}
                    </ul>
                    <p>{{entry.description}}</p>
                    <button id="deleteBtn-{{entry.id}}">delete</button>
                    <button id="editBtn-{{entry.id}}">edit</button>
                </section>
            </section>
        {{/each}}
    </section>
      
<div id="entryModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="close-btn" id="closeBtn">&times;</span>
        <h2 id="modalTitle">{{modalTitle}}</h2>
        <p id="modalMood">{{modalMood}}</p>
        <h3>Habits:</h3>
        <ul id="modalHabits">
            {{#each modalHabits}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
        <p id="modalEntryText">{{modalEntryText}}</p>
        <button id="submitBtn">Submit</button>
    </div>
</div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      <script src="/js/dashboard.js"></script>
</body>

