<body>
      <section id="newEntryContainer">
            {{#each entries as |entry|}}
            <section id={{entry.id}}>
                  <button id="deleteBtn-{{entry.id}}">delete</button>
                  <button id="editBtn-{{entry.id}}">edit</button>
            </section>
            <section >
                  <h2>{{entry.title}}</h2>
                  <p>{{entry.mood}}</p>
                  {{#each entry.habits as |habit|}}
                  <p>{{habit.habit_name}}</p>
                  {{/each}}
                  <p>{{entry.description}}</p>
            </section>
            {{/each}}
      </section>
      <script src="/js/dashboard.js"></script>
</body>